body {
  display: flex;
  flex-wrap: nowrap;

}

/* Sign-In */

/* Menu */
.menu {
  height: 100vh;
  height: -webkit-fill-available;
}

.menu .active{
    background-color: #31D2F2 !important;
}

.menu .nav-link:hover {
    transition: background-color 0.25s;
    background-color: #31D2F2;
}

.resizer {
  width: 0.5em;
  min-width: 0.5em;
  max-width: 0.5em;
}

.resizer:hover {
  cursor: col-resize;
}


/* Tab */
.note, .note:hover {
  color: gray;
  text-decoration: none;
}

legend {
  text-decoration: underline #31D2F2;
}

/* insertion reuslt temp */
    #insertion
    {
      margin-right: 50px;
    }
    th
    {
      border: 1px black solid;
      background-color: cyan;
      text-align: center;
    }
    th:first-child
    {
      border-radius: 10px 0px 0px 0px;
      
    }
    th:last-child
    {
      border-radius: 0px 10px 0px 0px;
    }
    td
    {
      border: 1px black solid;
      padding:0px 50px;
      text-align: center;
    }
    table
    {
      border-collapse: separate;
      border-spacing: 0px ;
      margin : auto;
    }

/* articles */
.article-notes {
  height: 100vh;
  height: -webkit-fill-available;
}

.article-notes-title {
  color: #31D2F2 !important;
}

/* insertion */
h1, h2, h3, h4, h5 {
  color: #31D2F2 !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 }
 ::-webkit-scrollbar-thumb {
  background: #7D74B6;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #968bdb
 }
 ::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.03);
 }