/* Editors */
#content {
  background-color: #f7f7f7;
}

.notesThread {
  height: 20em;
  max-height: 20em;
  min-height: 20em;
}

.notesToolbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
}

.line {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
}

/* Action Buttons */
.notesBox {
  display: flex;
  border-left: 1px solid #e2e2e2;
}

.notesSave, .notesAbort {
  width: 1em;
}

.notesAction {
  transition: 0.2s ease all;
}
.notesAction:hover {
  background-color: #56b9c7;
  cursor: pointer;
}
.notesAction img {
  width: 1.8em;
  padding: 0.2em;
  padding-top: 0.5em;
}

/* Content */
#notesArea {
  padding: 15px 12px;
  line-height: 1.5;
  max-height: 10vh;
  min-height: 10vh;
  height: 10vh;
  overflow-y: auto;
}

#notesVisualView {
  outline: none;
}

#notesHtmlView {
  outline: none;
  display: none;
  border: none;
  resize: none;
  width: 100%;
  background-color: #f7f7f7;
}