/* Editors */
#editor {
  background-color: #f7f7f7;
  border-top: 0.5em solid #56b9c7;
  border-bottom: 0.5em solid #56b9c7;
  height: 100vh;
  height: -webkit-fill-available;
  visibility: hidden;
  max-width: 24em;
}

#selection {
  max-width: 24em;
}

.toolbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.line {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}

/* Action Buttons */
.box {
  display: flex;
  border-left: 1px solid #e2e2e2;
}

.action {
  transition: 0.2s ease all;
}
.action:hover {
  background-color: #56b9c7;
  cursor: pointer;
}
.action img {
  width: 2.17em;
  padding: 0.5em;
}

/* Content */
.comment-area {
  padding: 15px 12px;
  line-height: 1.5;
  max-height: 10vh;
  min-height: 10vh;
  height: 10vh;
  overflow-y: auto;
}

.visual-view {
  outline: none;
}

.html-view {
  width: 100%;
  background-color: #f7f7f7;
  outline: none;
  display: none;
  border: none;
  resize: none;
  max-height: 10vh;
  min-height: 10vh;
  height: 10vh;
}